:root {
  font-family: "Secular One", sans-serif;

  --main-blue: hsla(235, 100%, 50%, 0.5);
  --blue-links: hsla(237, 91%, 67%, 1);
  --black-background: hsla(0, 0%, 0%, 0.9);
  --whitish-background: hsla(0, 0%, 100%, 0.4);
  --blackish-background: hsla(0, 0%, 0%, 0.4);
  --orange-titles: hsla(20, 100%, 50%, 0.9);
  --white-background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 1),
    hsla(0, 0%, 100%, 0)
  );
  --red-background: linear-gradient(
    135deg,
    hsla(0, 100%, 50%, 0),
    hsla(0, 100%, 50%, 1),
    hsla(0, 100%, 50%, 0)
  );
  --green-background: linear-gradient(
    135deg,
    hsla(121, 77%, 50%, 0),
    hsla(121, 77%, 50%, 1),
    hsla(121, 77%, 50%, 0)
  );
  --orange-background: linear-gradient(
    135deg,
    hsla(23, 100%, 50%, 0),
    hsla(23, 100%, 50%, 1),
    hsla(23, 100%, 50%, 0)
  );
  --blue-background: linear-gradient(
    135deg,
    hsla(242, 100%, 50%, 0),
    hsla(242, 100%, 50%, 1),
    hsla(242, 100%, 50%, 0)
  );
  --yellow-background: linear-gradient(
    135deg,
    hsla(57, 100%, 50%, 0),
    hsla(57, 100%, 50%, 1),
    hsla(57, 100%, 50%, 0)
  );
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  font-size: 1.25rem;
  color: white;
  background: var(--black-background);
  text-align: center;
  border-right: 0.3rem solid blue;
  z-index: 3;
}

/*THIS IS A CSS GRID CUBE SUPERFLIP ANIMATION*/
#cube1 {
  display: grid;
  max-width: 100%;
  margin: 2%;
  grid-template-columns: 4.5vw 4.5vw 4.5vw;
  grid-template-rows: 4.5vw 4.5vw 4.5vw;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
}
#cube2 {
  display: grid;
  max-width: 100%;
  margin: 2%;
  grid-template-columns: 4.5vw 4.5vw 4.5vw;
  grid-template-rows: 4.5vw 4.5vw 4.5vw;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
}
#cubie1,
#cubie2,
#cubie3,
#cubie4,
#cubie5,
#cubie6,
#cubie7,
#cubie8,
#cubie9,
#cubieA,
#cubieB,
#cubieC,
#cubieD,
#cubieE,
#cubieF,
#cubieG,
#cubieH,
#cubieI {
  border-radius: 10%;
  border: 0.2rem solid black;
}

#cubie1,
#cubieA {
  animation-name: cubie1;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes cubie1 {
  0% {
    background-color: yellow;
  }
  21% {
    background-color: yellow;
  }
  24% {
    background-color: orange;
  }
  27% {
    background-color: orange;
  }
  30% {
    background-color: yellow;
  }
  33% {
    background-color: orange;
  }
  36% {
    background-color: orange;
  }
  39% {
    background-color: red;
  }
  42% {
    background-color: red;
  }
  45% {
    background-color: green;
  }
  48% {
    background-color: yellow;
  }
  51% {
    background-color: red;
  }
  54% {
    background-color: red;
  }
  57% {
    background-color: blue;
  }
  69% {
    background-color: blue;
  }
  72% {
    background-color: white;
  }
  75% {
    background-color: orange;
  }
  78% {
    background-color: white;
  }
  81% {
    background-color: yellow;
  }
  100% {
    background-color: yellow;
  }
}

#cubie2,
#cubieB {
  animation-name: cubie2;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes cubie2 {
  0% {
    background-color: yellow;
  }
  21% {
    background-color: yellow;
  }
  24% {
    background-color: orange;
  }
  27% {
    background-color: orange;
  }
  30% {
    background-color: yellow;
  }
  33% {
    background-color: red;
  }
  36% {
    background-color: red;
  }
  39% {
    background-color: yellow;
  }
  42% {
    background-color: red;
  }
  48% {
    background-color: red;
  }
  51% {
    background-color: orange;
  }
  54% {
    background-color: orange;
  }
  57% {
    background-color: blue;
  }
  75% {
    background-color: blue;
  }
  78% {
    background-color: green;
  }
  81% {
    background-color: orange;
  }
  84% {
    background-color: blue;
  }
  90% {
    background-color: blue;
  }
  93% {
    background-color: yellow;
  }
  100% {
    background-color: yellow;
  }
}

#cubie3,
#cubieC {
  animation-name: cubie3;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes cubie3 {
  0% {
    background-color: yellow;
  }
  12% {
    background-color: yellow;
  }
  15% {
    background-color: orange;
  }
  18% {
    background-color: white;
  }
  21% {
    background-color: white;
  }
  24% {
    background-color: blue;
  }
  27% {
    background-color: orange;
  }
  30% {
    background-color: white;
  }
  33% {
    background-color: green;
  }
  36% {
    background-color: orange;
  }
  39% {
    background-color: orange;
  }
  42% {
    background-color: red;
  }
  45% {
    background-color: red;
  }
  48% {
    background-color: yellow;
  }
  51% {
    background-color: red;
  }
  54% {
    background-color: blue;
  }
  57% {
    background-color: orange;
  }
  60% {
    background-color: white;
  }
  63% {
    background-color: blue;
  }
  66% {
    background-color: blue;
  }
  69% {
    background-color: white;
  }
  72% {
    background-color: white;
  }
  75% {
    background-color: orange;
  }
  78% {
    background-color: white;
  }
  81% {
    background-color: white;
  }
  84% {
    background-color: yellow;
  }
  100% {
    background-color: yellow;
  }
}

#cubie4,
#cubieD {
  animation-name: cubie4;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes cubie4 {
  0% {
    background-color: yellow;
  }
  36% {
    background-color: yellow;
  }
  39% {
    background-color: red;
  }
  42% {
    background-color: yellow;
  }
  45% {
    background-color: white;
  }
  54% {
    background-color: white;
  }
  57% {
    background-color: orange;
  }
  78% {
    background-color: orange;
  }
  81% {
    background-color: blue;
  }
  84% {
    background-color: red;
  }
  90% {
    background-color: red;
  }
  93% {
    background-color: yellow;
  }
  100% {
    background-color: yellow;
  }
}

#cubie5,
#cubieE {
  background-color: yellow;
}

#cubie6,
#cubieF {
  animation-name: cubie6;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes cubie6 {
  0% {
    background-color: yellow;
  }
  12% {
    background-color: yellow;
  }
  15% {
    background-color: green;
  }
  18% {
    background-color: white;
  }
  24% {
    background-color: white;
  }
  27% {
    background-color: orange;
  }
  33% {
    background-color: orange;
  }
  36% {
    background-color: yellow;
  }
  39% {
    background-color: red;
  }
  42% {
    background-color: yellow;
  }
  51% {
    background-color: yellow;
  }
  54% {
    background-color: blue;
  }
  57% {
    background-color: red;
  }
  78% {
    background-color: red;
  }
  81% {
    background-color: green;
  }
  84% {
    background-color: orange;
  }
  90% {
    background-color: orange;
  }
  93% {
    background-color: yellow;
  }
  100% {
    background-color: yellow;
  }
}

#cubie7,
#cubieG {
  animation-name: cubie7;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes cubie7 {
  0% {
    background-color: yellow;
  }
  18% {
    background-color: yellow;
  }
  21% {
    background-color: red;
  }
  39% {
    background-color: red;
  }
  42% {
    background-color: orange;
  }
  45% {
    background-color: blue;
  }
  54% {
    background-color: blue;
  }
  57% {
    background-color: red;
  }
  63% {
    background-color: red;
  }
  66% {
    background-color: green;
  }
  69% {
    background-color: green;
  }
  72% {
    background-color: yellow;
  }
  81% {
    background-color: yellow;
  }
  84% {
    background-color: white;
  }
  87% {
    background-color: orange;
  }
  90% {
    background-color: yellow;
  }
  100% {
    background-color: yellow;
  }
}

#cubie8,
#cubieH {
  animation-name: cubie8;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes cubie8 {
  0% {
    background-color: yellow;
  }
  18% {
    background-color: yellow;
  }
  21% {
    background-color: red;
  }
  36% {
    background-color: red;
  }
  39% {
    background-color: yellow;
  }
  42% {
    background-color: red;
  }
  54% {
    background-color: red;
  }
  57% {
    background-color: white;
  }
  63% {
    background-color: white;
  }
  66% {
    background-color: blue;
  }
  78% {
    background-color: blue;
  }
  81% {
    background-color: red;
  }
  84% {
    background-color: green;
  }
  90% {
    background-color: green;
  }
  93% {
    background-color: yellow;
  }
  100% {
    background-color: yellow;
  }
}

#cubie9,
#cubieI {
  animation-name: cubie9;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes cubie9 {
  0% {
    background-color: yellow;
  }
  12% {
    background-color: yellow;
  }
  15% {
    background-color: green;
  }
  18% {
    background-color: white;
  }
  21% {
    background-color: green;
  }
  24% {
    background-color: green;
  }
  27% {
    background-color: blue;
  }
  33% {
    background-color: blue;
  }
  36% {
    background-color: red;
  }
  39% {
    background-color: orange;
  }
  54% {
    background-color: orange;
  }
  57% {
    background-color: blue;
  }
  60% {
    background-color: yellow;
  }
  63% {
    background-color: red;
  }
  66% {
    background-color: green;
  }
  69% {
    background-color: yellow;
  }
  78% {
    background-color: yellow;
  }
  81% {
    background-color: white;
  }
  84% {
    background-color: white;
  }
  87% {
    background-color: orange;
  }
  90% {
    background-color: yellow;
  }
  100% {
    background-color: yellow;
  }
}
/*END OF CUBE ANIMATION*/

#navbar-header {
  margin: 3%;
}

#navbar a {
  display: inline-block;
  padding: 1.5% 0;
  border-top: 0.25rem solid gray;
}

.nav-link {
  width: 100%;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--blue-links);
  transition: all 0.3s ease 0s;
}
.nav-link:hover, .nav-link:focus {
  background: yellow;
  color: black;
}

#main-doc {
  display: grid;
  grid-template-columns: 82% auto;
  margin-left: 14.5%;
  margin-top: -8px;
  margin-right: -6px;
}

h1 {
  display: table;
  width: 100%;
  text-align: center;
  margin-top: 5%;
  font-size: 4rem;
}

h2 {
  padding: 1%;
  margin: 0;
}

h3 {
  font-size: 1.4rem;
  padding: 1% 20% 1% 20%;
  margin: 0;
}

h1,
h2,
h3 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  color: var(--orange-titles);
  background: var(--main-blue);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5), 0 12px 12px rgba(0, 0, 0, 0.75);
}

.main-section ul, p {
  font-size: 1.3rem;
  text-align: center;
}

.main-section li {
  display: block;
  margin-bottom: 2%;
}

#Introduction {
  background: var(--black-background);
  color: white;
  margin: 0;
  padding: 2%;
  border-top: 0.25rem solid blue;
  border-bottom: 0.25rem solid blue;
}

.float-left {
  float: left;
  width: 49%;
}
.float-right {
  float: right;
  width: 49%;
}
.float-middle {
  float: left;
  width: 99%;
}

code {
  min-height: 65vh;
  font-size: 1rem;
  text-align: center;
  background: var(--whitish-background);
  color: black;
  padding: 1%;
  margin-bottom: 3%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5), 0 12px 12px rgba(0, 0, 0, 0.75);
}
code img {
  display: block;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  max-width: 99%;
  height: auto;
  border: 0.25rem solid var(--main-blue);
}

strong {
  font-size: 1.5rem;
}

.main-section {
  grid-column: 1/2;
  padding: 2%;
  border: 0.25rem solid blue;
}

.fun-facts {
  grid-column: 2/3;
  background: var(--blackish-background);
  color: black;
  text-align: center;
  width: 100%;
  border: 0.25rem solid blue;
  margin: 0;
  padding: 3%;
}

.fun-facts a {
  text-decoration: none;
  color: var(--main-blue);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  letter-spacing: 1px;
  font-size: 1.1em;
}

.spoilercheck {
  margin-left: -15px;
  visibility: hidden;
}

.spoilerlabel {
  position: relative;
  top: -1rem;
  color: white;
  background-color: blue;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 1%;
  cursor: pointer;
  border: 2px solid white;
}

.spoilerlabel:hover, .spoilerlabel:focus {
  transition: 1s;
  background-color: red;
}

.spoilerdiv {
  display: inline-block;
  max-width: 88%;
  margin-left: 1%;
  background: blue;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  padding: 0 1%;
  transition: 1s;
  opacity: 0;
  border: 2px solid white;
}

.spoilercheck:checked ~ .spoilerdiv {
  opacity: 1;
}

iframe {width: 260px; height: 408px;}
span {display: block; margin: 1% 0;}
#Orient_Top_Corners iframe {width: 260px; height: 445px;}

#Notation {
  background: var(--white-background);
  margin-top: -0.25%;
}

#Bottom_Cross {
  background: var(--red-background);
}

#Bottom_Corners {
  background: var(--green-background);
}

#Middle_Layer {
  background: var(--orange-background);
}

#Orient_Top_Cross {
  background: var(--blue-background);
}

#Permute_Top_Cross {
  background: var(--yellow-background);
}

#Permute_Top_Corners {
  background: var(--white-background);
}

#Orient_Top_Corners {
  background: var(--green-background);
}

/* START MEDIA QUERIES */
@media (max-width: 1300px) {

  #navbar {
    font-size: 1rem;
  }

  #navbar-header {
    font-size: 1.2rem;
  }

  #cube1 {
  margin-bottom: 15%;
  }

  #cube2 {
    margin-top: 15%;
  }

  h1 {font-size: 3rem;}

  h2,
  h3 {font-size: 1.25rem;}

  #main-doc {
    grid-template-columns: 78% auto;
  }

  .spoilerlabel {
    top: -3rem;
  }

  .spoilerdiv {
    max-width: 85%;
  }
}

@media (max-width: 1100px) {

  #navbar {
    width: 15.5%;
  }

  #cube1 {
  margin-top: 15%;
  }

  h1 {font-size: 3.5rem;}

  h2,
  h3 {
    font-size: 1.25rem;
  }

  #main-doc {
    grid-template-columns: 70% auto;
  }

  .main-section ul, p {
    font-size: 1.2rem;
  }

  code {
    min-height: 60vh;
    font-size: 0.9rem;
  }

  strong {
    font-size: 1.2rem;
  }

  .spoilerlabel {
    top: -2rem;
  }

  .spoilerdiv {
      max-width: 80%;
    }

  .spoilerdiv p {
    font-size: 0.9rem;
  }
}

@media (orientation: portrait), (max-width: 800px) {

  #navbar {
    width: 100%;
    height: auto;
    text-align: none;
    border-right: none;
  }

  #cube1 {
    display: grid;
    max-width: 12%;
    margin: 0;
    padding: 0.5%;
    grid-template-columns: 4vw 4vw 4vw;
    grid-template-rows: 4vw 4vw 4vw;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
  }

  #cube2 {
    position: absolute;
    top: 0;
    right: 2%;
    display: grid;
    max-width: 12%;
    margin: 0;
    padding: 0.5%;
    grid-template-columns: 4vw 4vw 4vw;
    grid-template-rows: 4vw 4vw 4vw;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
  }

  #navbar-header {
    position: absolute;
    top: 27%;
    left: 0;
    width: 100%;
    text-align: center;
  }

  #navbar a {
    display: inline;
    padding: 0 0.8%;
    margin-right: 0;
    border-top: none;
  }

  #main-doc {
    display: block;
    width: 102.25%;
    margin-left: -1.25%;
    margin-top: 12.25%;
  }

  #superflip {
    width: 0;
  }

  h1 {
    display: block;
    position: fixed;
    top: 1%;
    left: 13.5%;
    width: 72.5%;
    font-size: 2.25rem;
    text-align: center;
    margin-top: 0;
    z-index: 4;
  }

  h2, h3 {
    font-size: 2rem;
    margin-top: 0;
  }

  #Introduction {
    border: 0.5rem solid blue;
  }

  .float-left,
  .float-right {
    min-height: 75vw;
  }

  code {
    font-size: 1.25rem;
    padding: 1%;
  }

  strong {
    font-size: 1.5rem;
  }

  .main-section ul, p {
    font-size: 1.5rem;
  }

  .spoilerlabel {
    top: -3rem;
    font-size: 1.5rem;
  }

  .spoilerdiv {
    max-width: 85%;
  }

  .spoilerdiv p {
    font-size: 1.5rem;
  }

  .xtarget:target {
  margin-top: -160px;
  padding-top: 160px;
  }
}

/* END OF MEDIA QUERIES */

.container {
  position: relative;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: linear-gradient(90deg, hsla(107, 100%, 50%, 1), white);
  background-size: 100%;
  background-repeat: no-repeat;

}

.content {
  position: relative;
  z-index: 2;
}
